.App {
  margin-top: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  color: white;
}
body{
   background: linear-gradient(to right,#4568dc,#b06ab3);
   font-family:Arial;
}

.board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  margin: auto;
}
.btn{
  height: 100px;
  width: 100px;
  color: white;
  font-size: 40px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(40, 35, 135),rgb(24, 18, 142));
  cursor: pointer;
  border: 2px solid rgb(0, 68, 255);
}
.btn:hover{
  opacity: 0.9;
}
.restart-btn{
  margin-top: 10px;
  background-color: rgb(77, 23, 186);
  padding: 10px;
  border: 0px solid;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.win-status-restart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.win-status-restart h2{
  padding-top: 10px;
}

